/**
 * @file
 * Green color styling for Corporate Clean for Drupal 8.
 */
:root {
  /*base color*/
  --mt-color-base: #555;
  --mt-color-base-dark: #323232;
  --mt-color-base-light: #555;
  --mt-color-base-contrast: #F6F9FC;
  --mt-color-base-value: 50, 50, 50;
  --mt-color-base-contrast-value: 246, 249, 252;

  /*primary color*/
  --mt-color-primary: #197630;
  --mt-color-primary-dark: hsl(135, 65%, 28%);
  --mt-color-primary-light: hsl(135, 65%, 35%);
  --mt-color-primary-contrast: var(--mt-color-base-contrast);
  --mt-color-primary-value: 135, 65%, 28%;
  --mt-color-primary-dark-value: 135, 65%, 28%;
  --mt-color-primary-light-value: 135, 65%, 35%;
  --mt-color-primary-contrast-value: var(--mt-color-base-contrast-value);
  --mt-color-primary-filter: invert(20%) sepia(89%) saturate(2243%) hue-rotate(129deg) brightness(93%) contrast(80%);

  /*accent color*/
  --mt-color-accent: #eee;
  --mt-color-accent-dark: #f8f9fb;
  --mt-color-accent-light: #f8f9fb;
  --mt-color-accent-contrast: var(--mt-color-base);
  --mt-color-accent-contrast-value: var(--mt-color-base-value);

  /*secondary color*/
  --mt-color-secondary: hsl(135, 65%, 28%);
  --mt-color-secondary-dark: hsl(135, 65%, 28%);
  --mt-color-secondary-light: hsl(135, 65%, 90%);
  --mt-color-secondary-contrast: var(--mt-color-base-contrast);
  --mt-color-secondary-value: 135, 65%, 28%;

  /*tint background*/
  --mt-color-tint: #f6f6f6;
  --mt-color-tint-contrast: var(--mt-color-base);
  --mt-color-tint-contrast-value: var(--mt-color-base-value);

  /*shade background*/
  --mt-color-shade: hsl(225, 6%, 13%);
  --mt-color-shade-contrast: var(--mt-color-base-contrast);
  --mt-color-shade-contrast-value: var(--mt-color-base-contrast-value);

  /*dark colored background*/
  --mt-color-dark-colored: hsl(135, 65%, 25%);
  --mt-color-dark-colored-contrast: var(--mt-color-base-contrast);
  --mt-color-dark-colored-value: 135, 65%, 25%;
  --mt-color-dark-colored-contrast-value: var(--mt-color-base-contrast-value);

  /*colored background*/
  --mt-color-colored: var(--mt-color-primary);
  --mt-color-colored-light: var(--mt-color-primary-light);
  --mt-color-colored-contrast: var(--mt-color-primary-contrast);
  --mt-color-colored-value: var(--mt-color-primary-value);
  --mt-color-colored-contrast-value: var(--mt-color-primary-contrast-value);

  /*bright background*/
  --mt-color-bright: #ffffff;
  --mt-color-bright-contrast: var(--mt-color-base);
  --mt-color-bright-value: 255, 255, 255;
  --mt-color-bright-contrast-value: var(--mt-color-base-value);

  /*dark background*/
  --mt-color-dark: #000000;
  --mt-color-dark-contrast: var(--mt-color-base-contrast);
  --mt-color-dark-contrast-value: var(--mt-color-base-contrast-value);

  /*pattern background*/
  --mt-color-pattern: #ffffff;
  --mt-color-pattern-contrast: var(--mt-color-base);
  --mt-color-pattern-contrast-value: var(--mt-color-base-value);

  /*default background*/
  --mt-color-default: #ffffff;
  --mt-color-default-light: #ffffff;
  --mt-color-default-contrast: var(--mt-color-base);
  --mt-color-default-value: 242, 252, 245;
  --mt-color-default-contrast-value: var(--mt-color-base-value);

  /*success*/
  --mt-color-success: #3E9300;
  --mt-color-success-dark: #547f1f;
  --mt-color-success-contrast: #ffffff;

  /*danger*/
  --mt-color-danger: #CC0000;
  --mt-color-danger-dark: #980a00;
  --mt-color-danger-contrast: #ffffff;

  /*warning*/
  --mt-color-warning: #EA9900;
  --mt-color-warning-dark: #e2630b;
  --mt-color-warning-contrast: #ffffff;

  /*forms*/
  --mt-form-border: rgba(var(--mt-color-base-value), 0.2);
  --mt-form-border-contrast: rgba(var(--mt-color-base-contrast-value), 0.4);
  --mt-form-border-focus: var(--mt-color-primary);
  --mt-form-border-focus-contrast: rgba(var(--mt-color-base-contrast-value), 1);
  --mt-form-color: var(--mt-color-base);
  --mt-form-color-contrast: var(--mt-color-base-contrast);
  --mt-form-label-color: rgba(var(--mt-color-base-value), 0.9);
  --mt-form-placeholder: rgba(var(--mt-color-base-value), 0.5);
  --mt-form-placeholder-contrast: rgba(var(--mt-color-base-contrast-value), 0.5);
  --mt-active-cell: hsla(var(--mt-color-primary-value), 0.12);
}
