/**
 * @file
 * Styles for Corporate Clean's buttons.
 */
:root {
  --mt-oval-radius: 30px;
  --mt-rounded-radius: 4px;
}
.mt-style-sharp input.form-text,
.mt-style-sharp .collapse-group,
.mt-style-sharp input.form-tel,
.mt-style-sharp input.form-email,
.mt-style-sharp input.form-url,
.mt-style-sharp input.form-search,
.mt-style-sharp input.form-file,
.mt-style-sharp input.form-number,
.mt-style-sharp input.form-color,
.mt-style-sharp input.form-date,
.mt-style-sharp input.form-time,
.mt-style-sharp input[type='checkbox'],
.mt-style-sharp textarea,
.mt-style-sharp fieldset,
.mt-style-sharp details,
.mt-style-sharp select,
.mt-style-sharp table,
.mt-style-sharp .progress,
.mt-style-sharp .table-responsive,
.mt-style-sharp .cart-block--contents__items,
.mt-style-sharp .block-mailchimp-signup .form-actions input[type='submit'],
.mt-style-sharp .block-search .form-actions:after {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.mt-style-sharp table tbody tr:last-child th:first-child {
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
.mt-style-oval input.form-text,
.mt-style-oval .collapse-group,
.mt-style-oval input.form-tel,
.mt-style-oval input.form-email,
.mt-style-oval input.form-url,
.mt-style-oval input.form-search,
.mt-style-oval input.form-file,
.mt-style-oval input.form-number,
.mt-style-oval input.form-color,
.mt-style-oval input.form-date,
.mt-style-oval input.form-time,
.mt-style-oval input[type='checkbox'],
.mt-style-oval select,
.mt-style-oval .progress,
.mt-style-oval .block-mailchimp-signup .form-actions input[type='submit'],
.mt-style-oval .block-search .form-actions:after,
.mt-style-oval textarea {
  -webkit-border-radius: var(--mt-oval-radius);
  -moz-border-radius: var(--mt-oval-radius);
  border-radius: var(--mt-oval-radius);
}
.mt-style-oval table tbody tr:last-child th:first-child {
  -webkit-border-bottom-left-radius: var(--mt-rounded-radius);
  -moz-border-bottom-left-radius: var(--mt-rounded-radius);
  border-bottom-left-radius: var(--mt-rounded-radius);
}
.mt-style-oval input.form-text,
.mt-style-oval input.form-tel,
.mt-style-oval input.form-email,
.mt-style-oval input.form-url,
.mt-style-oval input.form-search,
.mt-style-oval input.form-file,
.mt-style-oval input.form-number,
.mt-style-oval input.form-color,
.mt-style-oval input.form-date,
.mt-style-oval input.form-time,
.mt-style-oval select,
.mt-style-oval textarea {
  padding-left: 20px;
  padding-right: 20px;
}
.mt-style-oval fieldset,
.mt-style-oval table,
.mt-style-oval .table-responsive,
.mt-style-oval .cart-block--contents__items,
.mt-style-oval details {
  -webkit-border-radius: var(--mt-rounded-radius);
  -moz-border-radius: var(--mt-rounded-radius);
  border-radius: var(--mt-rounded-radius);
}
.mt-style-rounded input.form-text,
.mt-style-rounded .collapse-group,
.mt-style-rounded input.form-tel,
.mt-style-rounded input.form-email,
.mt-style-rounded input.form-url,
.mt-style-rounded input.form-search,
.mt-style-rounded input.form-file,
.mt-style-rounded input.form-number,
.mt-style-rounded input.form-color,
.mt-style-rounded input.form-date,
.mt-style-rounded input.form-time,
.mt-style-rounded input[type='checkbox'],
.mt-style-rounded textarea,
.mt-style-rounded fieldset,
.mt-style-rounded details,
.mt-style-rounded select,
.mt-style-rounded table,
.mt-style-rounded .progress,
.mt-style-rounded .table-responsive,
.mt-style-rounded .cart-block--contents__items,
.mt-style-rounded .block-mailchimp-signup .form-actions input[type='submit'],
.mt-style-rounded .block-search .form-actions:after {
  -webkit-border-radius: var(--mt-rounded-radius);
  -moz-border-radius: var(--mt-rounded-radius);
  border-radius: var(--mt-rounded-radius);
}
.mt-style-rounded table tbody tr:last-child th:first-child {
  -webkit-border-bottom-left-radius: var(--mt-rounded-radius);
  -moz-border-bottom-left-radius: var(--mt-rounded-radius);
  border-bottom-left-radius: var(--mt-rounded-radius);
}
.mt-style-form-sharp input.form-text,
.mt-style-form-sharp .collapse-group,
.mt-style-form-sharp input.form-tel,
.mt-style-form-sharp input.form-email,
.mt-style-form-sharp input.form-url,
.mt-style-form-sharp input.form-search,
.mt-style-form-sharp input.form-file,
.mt-style-form-sharp input.form-number,
.mt-style-form-sharp input.form-color,
.mt-style-form-sharp input.form-date,
.mt-style-form-sharp input.form-time,
.mt-style-form-sharp input[type='checkbox'],
.mt-style-form-sharp textarea,
.mt-style-form-sharp fieldset,
.mt-style-form-sharp details,
.mt-style-form-sharp select,
.mt-style-form-sharp table,
.mt-style-form-sharp .progress,
.mt-style-form-sharp .table-responsive,
.mt-style-form-sharp .cart-block--contents__items,
.mt-style-form-sharp .block-mailchimp-signup .form-actions input[type='submit'],
.mt-style-form-sharp .block-search .form-actions:after {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.mt-style-form-sharp table tbody tr:last-child th:first-child {
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
.mt-style-form-oval input.form-text,
.mt-style-form-oval .collapse-group,
.mt-style-form-oval input.form-tel,
.mt-style-form-oval input.form-email,
.mt-style-form-oval input.form-url,
.mt-style-form-oval input.form-search,
.mt-style-form-oval input.form-file,
.mt-style-form-oval input.form-number,
.mt-style-form-oval input.form-color,
.mt-style-form-oval input.form-date,
.mt-style-form-oval input.form-time,
.mt-style-form-oval input[type='checkbox'],
.mt-style-form-oval select,
.mt-style-form-oval .progress,
.mt-style-form-oval .block-mailchimp-signup .form-actions input[type='submit'],
.mt-style-form-oval .block-search .form-actions:after,
.mt-style-form-oval textarea {
  -webkit-border-radius: var(--mt-oval-radius);
  -moz-border-radius: var(--mt-oval-radius);
  border-radius: var(--mt-oval-radius);
}
.mt-style-form-oval input.form-text,
.mt-style-form-oval input.form-tel,
.mt-style-form-oval input.form-email,
.mt-style-form-oval input.form-url,
.mt-style-form-oval input.form-search,
.mt-style-form-oval input.form-file,
.mt-style-form-oval input.form-number,
.mt-style-form-oval input.form-color,
.mt-style-form-oval input.form-date,
.mt-style-form-oval input.form-time,
.mt-style-form-oval select,
.mt-style-form-oval textarea {
  padding-left: 20px;
  padding-right: 20px;
}
.mt-style-form-oval table tbody tr:last-child th:first-child {
  -webkit-border-bottom-left-radius: var(--mt-rounded-radius);
  -moz-border-bottom-left-radius: var(--mt-rounded-radius);
  border-bottom-left-radius: var(--mt-rounded-radius);
}
.mt-style-form-oval fieldset,
.mt-style-form-oval table,
.mt-style-form-oval .table-responsive,
.mt-style-form-oval .cart-block--contents__items,
.mt-style-form-oval details {
  -webkit-border-radius: var(--mt-rounded-radius);
  -moz-border-radius: var(--mt-rounded-radius);
  border-radius: var(--mt-rounded-radius);
}
.mt-style-form-rounded input.form-text,
.mt-style-form-rounded .collapse-group,
.mt-style-form-rounded input.form-tel,
.mt-style-form-rounded input.form-email,
.mt-style-form-rounded input.form-url,
.mt-style-form-rounded input.form-search,
.mt-style-form-rounded input.form-file,
.mt-style-form-rounded input.form-number,
.mt-style-form-rounded input.form-color,
.mt-style-form-rounded input.form-date,
.mt-style-form-rounded input.form-time,
.mt-style-form-rounded input[type='checkbox'],
.mt-style-form-rounded textarea,
.mt-style-form-rounded fieldset,
.mt-style-form-rounded details,
.mt-style-form-rounded select,
.mt-style-form-rounded table,
.mt-style-form-rounded .progress,
.mt-style-form-rounded .table-responsive,
.mt-style-form-rounded .cart-block--contents__items,
.mt-style-form-rounded .block-mailchimp-signup .form-actions input[type='submit'],
.mt-style-form-rounded .block-search .form-actions:after {
  -webkit-border-radius: var(--mt-rounded-radius);
  -moz-border-radius: var(--mt-rounded-radius);
  border-radius: var(--mt-rounded-radius);
}
.mt-style-form-rounded table tbody tr:last-child th:first-child {
  -webkit-border-bottom-left-radius: var(--mt-rounded-radius);
  -moz-border-bottom-left-radius: var(--mt-rounded-radius);
  border-bottom-left-radius: var(--mt-rounded-radius);
}
