/**
 * @file
 * Styles for Corporate Clean's buttons.
 */
.mt-style-sharp .sf-menu ul {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.mt-style-oval .sf-menu ul {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
.mt-style-oval .sf-accordion ul > li:first-child > a,
.mt-style-oval .sf-accordion ul > li:last-child > a,
.mt-style-oval .sf-accordion ul {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.mt-style-rounded .sf-menu ul {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.mt-style-menu-sharp .sf-menu ul {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.mt-style-menu-oval .sf-menu ul {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
.mt-style-menu-rounded .sf-menu ul {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
