:root {
  --mt-link-border: rgba(0, 0, 0, 0.4);
  --mt-link-border-hover: #000;
}
.region--dark-colored-background,
.region--colored-background,
.region--shade-background,
.region--dark-background {
  --mt-link-border: rgba(255, 255, 255, 0.4);
  --mt-link-border-hover: #fff;
}
.klaro.klaro-theme-corporateclean {
  --klaro-link-decoration-line-hover: none;
}
a,
a:not([class]) {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
p a {
  color: inherit;
  text-decoration: none;
  position: relative;
  display: inline;
  border-bottom: 1px dotted var(--mt-link-border);
  background-image: linear-gradient(
    transparent calc(100% - 1px),
    var(--mt-link-border-hover) calc(100% - 1px),
    var(--mt-link-border-hover) 100%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position: 50% 100%;
  padding-bottom: 1px;
  transition: background-size 0.3s ease, border-bottom 0.2s ease;
}
p a:hover {
  color: inherit;
  background-size: 100% 100%;
  border-bottom-color: transparent;
}
.klaro.klaro-theme-corporateclean p a:hover {
  background-image: linear-gradient(
    transparent calc(100% - 1px),
    var(--mt-link-border-hover) calc(100% - 0px),
    var(--mt-link-border-hover) 100%,
    transparent 100%
  );
}
.footer__section h4.title,
.footer__section h2.title,
.footer__section nav > h2,
.footer__section .block-search > h2 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
}
