a.mt-button,
.mt-button > a,
button.mt-button,
input[type='submit'],
input[type='reset'],
input[type='button'],
.btn {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
}
a.mt-button:hover,
.mt-button > a:hover,
button.mt-button:hover {
  padding: 1rem 2rem;
}
a.mt-button:hover,
.mt-button > a:hover,
button.mt-button:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover {
  color: var(--mt-color-primary-contrast);
}
a.mt-button:after,
.mt-button > a:after,
button.mt-button:after {
  opacity: 0;
  content: '';
}
a.mt-button.mt-button--outline,
.mt-button.mt-button--outline > a,
input[type='submit'].mt-button--outline,
input[type='reset'].mt-button--outline,
input[type='button'].mt-button--outline {
  padding: 1rem 2rem;
}
