a.mt-button,
.mt-button > a,
button.mt-button,
input[type='submit'],
input[type='reset'],
input[type='button'],
.btn {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
  transition: all 0.25s ease-in-out;
}
a.mt-button:hover,
.mt-button > a:hover,
button.mt-button:hover,
.btn:hover {
  padding: 1rem 2rem;
}
a.mt-button:hover,
.mt-button > a:hover,
.btn:hover,
button.mt-button:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover {
  color: var(--mt-color-primary-contrast);
  transform: scale(0.98);
}
a.mt-button:after,
.mt-button > a:after,
button.mt-button:after {
  opacity: 0;
  content: '';
}
a.mt-button.mt-button--outline,
.mt-button.mt-button--outline > a,
input[type='submit'].mt-button--outline,
input[type='reset'].mt-button--outline,
input[type='button'].mt-button--outline {
  padding: 1rem 2rem;
}
a.mt-button.mt-button--external-link,
.mt-button.mt-button.mt-button--external-link > a,
button.mt-button.mt-button.mt-button--external-link {
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
}
a.mt-button.mt-button--link,
.mt-button.mt-button--link > a,
button.mt-button.mt-button--link {
  color: inherit;
  text-decoration: none;
  position: relative;
  display: inline;
  border-bottom: 1px dotted transparent;
  background-image: linear-gradient(
    transparent calc(100% - 1px),
    var(--mt-link-border-hover) calc(100% - 1px),
    var(--mt-link-border-hover) 100%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position: 50% 100%;
  transition: background-size 0.3s ease, border-bottom 0.2s ease;
}
a.mt-button.mt-button--link:hover,
.mt-button.mt-button--link > a:hover,
button.mt-button.mt-button--link:hover {
  text-decoration: none;
  background-color: transparent;
  color: inherit;
  background-size: calc(100% - 48px) 100%;
  border-bottom-color: transparent;
}
